@* this will also be used as page title in main layout *@
@{ ViewData["title"] = "Pradžia"; }
<div style="margin: auto; width: 50%">
    <img style="display: block; margin: auto; width: 40%" src="https://upload.wikimedia.org/wikipedia/en/f/f7/Mater_%28Cars%29.png" />
</div>
