@* this will also be used as page title in main layout *@
@{ ViewData["title"] = "Pradžia"; }


    <div>
        <img src="https://th.bing.com/th/id/OIP.vuESyueLcvvhGsN85XYnSQHaFb?rs=1&pid=ImgDetMain" />
    </div>
